<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Visualisasi Hasil - IR 3SD1</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="{{ url_for('static', filename='lib/animate/animate.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/index.css') }}"
      rel="stylesheet"
    />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
      .image-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px; /* Adjust the gap as needed */
      }

      .grid-item {
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      img {
        width: 100%;
        height: auto;
        display: block;
      }

      .grid-item p,
      .grid-item h3 {
        margin-top: 10px;
        color: black; /* Sesuaikan warna teks sesuai kebutuhan */
        font-size: 20px; /* Sesuaikan ukuran font sesuai kebutuhan */
        text-align: center;

        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efek bayangan untuk meningkatkan kontras */
      }
    </style>
  </head>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Topbar Start -->
    <!-- <div class="container-fluid bg-dark py-2 d-none d-md-flex">
            <div class="container">
                <div class="d-flex justify-content-between topbar">
                    <div class="top-info">
                        <small class="me-3 text-white-50"><a href="#"><i class="fas fa-map-marker-alt me-2 text-secondary"></i></a>23 Ranking Street, New York</small>
                        <small class="me-3 text-white-50"><a href="#"><i class="fas fa-envelope me-2 text-secondary"></i></a>Email@Example.com</small>
                    </div>
                    <div id="note" class="text-secondary d-none d-xl-flex"><small>Note : We help you to Grow your Business</small></div>
                    <div class="top-link">
                        <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-facebook-f text-primary"></i></a>
                        <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-twitter text-primary"></i></a>
                        <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-instagram text-primary"></i></a>
                        <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle me-0"><i class="fab fa-linkedin-in text-primary"></i></a>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid bg-primary sticky-top z-100">
      <div class="container">
        <nav class="navbar navbar-dark navbar-expand-lg py-0">
          <a href="/" class="navbar-brand">
            <h1 class="text-white fw-bold d-block">
              Information<span class="text-secondary"> Retrieval</span>
            </h1>
          </a>
          <button
            type="button"
            class="navbar-toggler me-0"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse bg-transparent"
            id="navbarCollapse"
          >
            <div class="navbar-nav ms-auto mx-xl-auto p-0">
              <a href="/" class="nav-item nav-link">Beranda</a>
              <a href="/deskripsi" class="nav-item nav-link">Deskripsi</a>
              <a href="/prediksi" class="nav-item nav-link">Prediksi</a>
              <a
                href="/visualisasi"
                class="nav-item nav-link active text-secondary"
                >Visualisasi</a
              >
              <a href="/anggota" class="nav-item nav-link">Anggota</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Navbar End -->

    <!-- Page Header Start -->
    <!-- <div class="container-fluid page-header py-5">
      <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">
          Visualisasi
        </h1>
        <nav aria-label="breadcrumb animated slideInDown">
          <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item" aria-current="page">Visualisasi</li>
          </ol>
        </nav>
      </div>
    </div> -->

    <div class="container-fluid page-header-a py-5">
      <div class="container py-5">
        <div
          class="text-center mx-auto pb-5 wow fadeIn"
          data-wow-delay=".3s"
          style="max-width: 600px"
        >
          <!-- <h5 class="text-primary">Visualisasi Hasil</h5> -->
          <h1
            class="display-2 text-white mb-1 animated slideInDown"
            style="color: white"
          >
            Visualisasi Hasil
          </h1>
        </div>
        <div class="container-fluid feature">
          <div class="container pt-0">
            <!-- </div> -->
            <div class="row g-0">
              <div class="wrap-all">
                <div class="wrap-dropdown-container">
                  <div class="dropdown-container-1 z-3">
                    <h2>Pilih Topik</h2>
                    <div class="select-box-1">
                      <div class="dropdown-options-container-1">
                        <div class="option-1">
                          <input
                            type="radio"
                            class="radio"
                            id="total-jumlah-review"
                            name="category"
                          />
                          <label for="total-jumlah-review"
                            >Jumlah Review per Aspek</label
                          >
                        </div>
                        <div class="option-1">
                          <input
                            type="radio"
                            class="radio"
                            id="jumlah-review"
                            name="category"
                          />
                          <label for="jumlah-review"
                            >Jumlah Review per Sentimen</label
                          >
                        </div>
                        <div class="option-1">
                          <input
                            type="radio"
                            class="radio"
                            id="proporsi-label"
                            name="category"
                          />
                          <label for="proporsi-label"
                            >Proporsi Label Sentimen</label
                          >
                        </div>

                        <div class="option-1">
                          <input
                            type="radio"
                            class="radio"
                            id="rerata-jumlah-kata"
                            name="category"
                          />
                          <label for="rerata-jumlah-kata"
                            >Rerata Jumlah Kata per Label Sentimen</label
                          >
                        </div>

                        <div class="option-1">
                          <input
                            type="radio"
                            class="radio"
                            id="rerata-jumlah-kata-unik"
                            name="category"
                          />
                          <label for=""
                            >Rerata Jumlah Kata Unik per Label Sentimen</label
                          >
                        </div>

                        <div class="option-1">
                          <input
                            type="radio"
                            class="radio"
                            id="rerata-jumlah-kata-review"
                            name="category"
                          />
                          <label for="rerata-jumlah-kata-review"
                            >Rerata Jumlah Kata per Review</label
                          >
                        </div>

                        <div class="option-1">
                          <input
                            type="radio"
                            class="radio"
                            id="rerata-jumlah-kalimat"
                            name="category"
                          />
                          <label for="rerata-jumlah-kalimat"
                            >Rerata Jumlah Kalimat per Review</label
                          >
                        </div>
                        <div class="option-1">
                          <input
                            type="radio"
                            class="radio"
                            id="rerata-jumlah-kalimat"
                            name="category"
                          />
                          <label for="rerata-jumlah-kata-kalimat"
                            >Rerata Jumlah Kata per Kalimat Tiap Aspek</label
                          >
                        </div>

                        <div class="option-1">
                          <input
                            type="radio"
                            class="radio"
                            id="top-10"
                            name="category"
                          />
                          <label for="top-10">Top 5 Kemunculan Kata</label>
                        </div>
                      </div>

                      <div class="selected-1">Pilih Topik Disini</div>
                    </div>
                  </div>

                  <div class="dropdown-container-2">
                    <h2>Pilih Aspek</h2>

                    <div class="select-box-2">
                      <div class="dropdown-options-container-2">
                        <div class="option-2">
                          <input
                            type="radio"
                            class="radio"
                            id="attractions"
                            name="category"
                          />
                          <label for="attractions">Attractions</label>
                        </div>

                        <div class="option-2">
                          <input
                            type="radio"
                            class="radio"
                            id="amenities"
                            name="category"
                          />
                          <label for="amenities">Amenities</label>
                        </div>

                        <div class="option-2">
                          <input
                            type="radio"
                            class="radio"
                            id="access"
                            name="category"
                          />
                          <label for="access">Access</label>
                        </div>

                        <div class="option-2">
                          <input
                            type="radio"
                            class="radio"
                            id="price"
                            name="category"
                          />
                          <label for="price">Price</label>
                        </div>

                        <div class="option-2">
                          <input
                            type="radio"
                            class="radio"
                            id="no-aspect"
                            name="category"
                          />
                          <label for="no-aspect">No Aspect</label>
                        </div>
                      </div>
                      <div class="selected-2">Pilih Aspek Disini</div>
                    </div>
                  </div>
                </div>

                <div class="wrap-chart">
                  <div class="chart">
                    <canvas id="myChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrap-chart">
          <div class="image-grid">
            <div class="grid-item">
              <img src="../static/img/all aspect.jpeg" alt="Attraction Image" />
              <h3>Wordcloud Semua Aspek</h3>
            </div>
            <div class="grid-item">
              <img src="../static/img/attraction.jpeg" alt="Attraction Image" />
              <h3>Wordcloud Attraction</h3>
            </div>
            <div class="grid-item">
              <img src="../static/img/amenities.jpeg" alt="Amenities Image" />
              <h3>Wordcloud Amenities</h3>
            </div>
            <div class="grid-item">
              <img src="../static/img/access.jpeg" alt="Access Image" />
              <h3>Wordcloud Access</h3>
            </div>
            <div class="grid-item">
              <img src="../static/img/price.jpeg" alt="Price Image" />
              <h3>Wordcloud Price</h3>
            </div>
            <div class="grid-item">
              <img src="../static/img/no aspect.jpeg" alt="Price Image" />
              <h3>Wordcloud No Aspect</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Start -->
    <div class="container-fluid footer bg-dark wow fadeIn" data-wow-delay=".3s">
      <div class="container pt-5 pb-4">
        <div class="row g-5">
          <div class="col-lg-3 col-md-6">
            <a href="/">
              <h1 class="text-white fw-bold d-block">
                Kelompok<span class="text-secondary">3SD1</span>
              </h1>
            </a>
            <p
              class="mt-4 text-light text-justify"
              style="text-align: justify"
              ;
            >
              Analisis sentimen adalah teknik analisis data yang digunakan untuk
              memahami perasaan, opini, dan sikap pengguna terhadap suatu merek,
              produk, atau layanan
            </p>
            <div class="d-flex hightech-link">
              <a
                href="https://www.instagram.com/esd1.gs/"
                class="btn-light nav-fill btn btn-square rounded-circle me-2"
                ><i class="fab fa-facebook-f text-primary"></i
              ></a>
              <a
                href=""
                class="btn-light nav-fill btn btn-square rounded-circle me-2"
                ><i class="fab fa-twitter text-primary"></i
              ></a>
              <a
                href="https://www.instagram.com/esd1.gs/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA=="
                class="btn-light nav-fill btn btn-square rounded-circle me-2"
                ><i class="fab fa-instagram text-primary"></i
              ></a>
              <a
                href=""
                class="btn-light nav-fill btn btn-square rounded-circle me-0"
                ><i class="fab fa-linkedin-in text-primary"></i
              ></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <a href="#" class="h3 text-secondary">Short Link</a>
            <div class="mt-4 d-flex flex-column short-link">
              <a href="/" class="mb-2 text-white"
                ><i class="fas fa-angle-right text-secondary me-2"></i
                >Beranda</a
              >
              <a href="/deskripsi" class="mb-2 text-white"
                ><i class="fas fa-angle-right text-secondary me-2"></i
                >Deskripsi</a
              >
              <a href="/prediksi" class="mb-2 text-white"
                ><i class="fas fa-angle-right text-secondary me-2"></i
                >Prediksi</a
              >
              <a href="/visualisasi" class="mb-2 text-white"
                ><i class="fas fa-angle-right text-secondary me-2"></i
                >Visualisasi</a
              >
              <a href="/anggota" class="mb-2 text-white"
                ><i class="fas fa-angle-right text-secondary me-2"></i
                >Anggota</a
              >
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <a href="#" class="h3 text-secondary">Contact Us</a>
            <div class="text-white mt-4 d-flex flex-column contact-link">
              <a href="#" class="pb-3 text-light border-bottom border-primary"
                ><i class="fas fa-map-marker-alt text-secondary me-2"></i>
                Politeknik Statistika STIS</a
              >
              <a href="#" class="py-3 text-light border-bottom border-primary"
                ><i class="fas fa-envelope text-secondary me-2"></i
                >esd1.gs@gmail.com</a
              >
              <a
                href="https://www.instagram.com/esd1.gs/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA=="
                class="py-3 text-light border-bottom border-primary"
                ><i class="fab fa-instagram text-secondary me-2"></i> esd1.gs</a
              >
            </div>
          </div>
        </div>
        <hr class="text-light mt-5 mb-4" />
        <div class="row">
          <div class="col-md-6 text-center text-md-start">
            <span class="text-light"
              ><a href="#" class="text-secondary"
                ><i class="fas fa-copyright text-secondary me-2"></i>Regard</a
              >, 3SD1</span
            >
          </div>
          <div class="col-md-6 text-center text-md-end">
            <!--/* This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. */-->
            <span class="text-light"
              >Designed By<a href="https://htmlcodex.com" class="text-secondary"
                >3SD1</a
              ></span
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary btn-square rounded-circle back-to-top"
      ><i class="fa fa-arrow-up text-white"></i
    ></a>

    <!-- <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Check if WordCloud is defined
        if (typeof WordCloud !== "undefined") {
          console.log("WordCloud library is loaded.");

          // Your existing code for generating the word cloud
          var words = [
            { text: "Word1", weight: 10 },
            { text: "Word2", weight: 8 },
            { text: "Word3", weight: 6 },
          ];
          var options = {
            list: words,
          };
          WordCloud(document.getElementById("wordcloud"), options);
        } else {
          console.error("WordCloud library is not loaded.");
        }
      });
    </script> -->

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kalimat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/label_proporsi.js') }}"></script>

    <script src="{{ url_for('static', filename='js/kata_kalimat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kata_review.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kata_unik.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kata.js') }}"></script>

    <script src="{{ url_for('static', filename='js/review.js') }}"></script>
    <script src="{{ url_for('static', filename='js/top-5.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visualisasi.js') }}"></script>
  </body>
</html>
