* {
    margin: 0;
    box-sizing: border-box;
  }
  
  /* body {
    font-family: "Poppins", sans-serif;
    background: #f5f6fa;
  } */
  
  .wrap-dropdown-container h2 {
    margin: 10px;
    color: #f5f6fa;
  }
  
  .wrap-all {
    display: flex;
    flex-direction: column;
    /* Change to column layout */
    align-items: center;
    margin-bottom: 40px;
    /* Center items horizontally */
  }
  
  .wrap-dropdown-container div {
    margin-top: 0px;
  }
  
  .wrap-dropdown-container {
    display: flex;
    justify-content: center;
    /* Center items horizontally */
    margin-bottom: 0px;
    margin: 0px;
    /* Add some margin at the bottom */
  }
  
  .chart {
    width: 1000px;
    height: 500px;
    /* width: auto; */
    margin: 20px;
    /* Remove the top margin */
  }
  
  
  
  
  .chart-container {
    display: flex;
  }
  
  .chart-container.hide {
    display: none;
  }
  
  .wrap-chart {
    background-color: #f5f6fa;
    border-radius: 20px;
    border: 1px solid #dcdde1;
  }
  
  .dropdown-container-1 {
    margin: 0px;
    padding: 0 93px 20px 0;
    position: relative;
    z-index: 999;
  }
  
  
  .dropdown-container-2 {
    margin: 0px;
    padding: 0 0 20px 0;
    position: relative;
    z-index: 999;
  }
  
  
  .select-box-1 {
    display: flex;
    width: 450px;
    flex-direction: column;
  }
  
  .select-box-2 {
    display: flex;
    width: 250px;
    flex-direction: column;
  }
  
  .select-box-1 .dropdown-options-container-1 {
    background: #f5f6fa;
    color: #2f3640;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
    position: absolute;
    max-width: 450px;
    top: 120px;
    box-shadow: 3px 3px 10px gray;
    z-index: 999;
  }
  
  .select-box-2 .dropdown-options-container-2 {
    background: #f5f6fa;
    color: #2f3640;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
    position: absolute;
    max-width: 250px;
    top: 120px;
    box-shadow: 3px 3px 10px gray;
    z-index: 999;
  }
  
  .selected-1,
  .selected-2 {
    background: #f5f6fa;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #2f3640;
    position: relative;
  
    order: 0;
  }
  
  .selected-1::after,
  .selected-2::after {
    content: "";
    background: url("../img/arrow-down.svg") !important;
    background-size: contain;
    background-repeat: no-repeat;
 
  
    /* change arrow color to blue */
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  
  
  
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 10px;
  
    transition: all 0.4s;
  }
  
  .select-box-1 .dropdown-options-container-1.active,
  .select-box-2 .dropdown-options-container-2.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }
  
  .select-box-1 .dropdown-options-container-1.active+.selected-1::after,
  .select-box-2 .dropdown-options-container-2.active+.selected-2::after {
    transform: rotateX(180deg);
    top: -9px;
  }
  
  .select-box-1 .dropdown-options-container-1::-webkit-scrollbar,
  .select-box-2 .dropdown-options-container-2::-webkit-scrollbar {
    width: 8px;
    background: lightgray;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box-1 .dropdown-options-container-1::-webkit-scrollbar-thumb,
  .select-box-2 .dropdown-options-container-2::-webkit-scrollbar-thumb {
    background: #1363C6;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box-1 .option-1,
  .selected-1,
  .select-box-2 .option-2,
  .selected-2 {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box-1 .option-1:hover,
  .select-box-2 .option-2:hover {
    background: darkgray;
    color: #f5f6fa;
  }
  
  .select-box-1 label,
  .select-box-2 label {
    cursor: pointer;
  }
  
  .select-box-1 .option-1 .radio,
  .select-box-2 .option-2 .radio {
    display: none;
  }
  
  @media only screen and (max-width: 820px) {
    .chart {
      width: 700px;
      height: 400px;
    }
  
  
    .dropdown-container-1 {
      margin: 0px;
      padding: 0 0px 20px 0;
    }
  }
  
  
  @media only screen and (max-width: 768px) {
    .chart {
      width: 650px;
      height: 500px;
    }
  
    .select-box-1 .dropdown-container-1 {
      max-width: 100%;
      width: 10px;
    }
  
  }
  
  @media only screen and (max-width: 700px) {
    .chart {
      width: 300px;
      height: 400px;
    }
  
  }
  
  @media only screen and (max-width: 400px) {
    .chart {
      width: 280px;
      height: 350px;
    }
  
  }
  
  
  @media only screen and (max-width: 350px) {
    .chart {
      width: 200px;
      height: 350px;
    }
  
  }
  
  @media only screen and (max-width: 200px) {
    .chart {
      width: 100px;
      height: 250px;
    }
  }
  
  
  
  /* Tambahkan media query untuk layar berukuran kecil */
  @media screen and (max-width: 820px) {
  
    .dropdown-container-1 {
      align-items: center;
      padding: 0px 20px 0 0;
      z-index: 3;
    }
  
    .select-box-2 .dropdown-options-container-2 {
      width: 100%;
      max-width: 750px;
    }
  
  
    .select-box-1 {
      width: 440px;
      padding: 0;
    }
  
  
    .select-box-2 {
      width: 240px;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 768px) {
    .dropdown-container-1 {
      align-items: center;
      padding: 0px 20px 0 0;
      z-index: 3;
    }
  
    .select-box-2 .dropdown-options-container-2 {
      width: 100%;
      max-width: 750px;
    }
  
  
    .select-box-1 {
      width: 440px;
      padding: 0;
    }
  
  
    .select-box-2 {
      width: 240px;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 700px) {
    .wrap-dropdown-container {
      flex-direction: column;
  
      align-items: center;
    }
  
    .dropdown-container-1 {
      align-items: center;
      padding: 0px;
      z-index: 3;
    }
  
    .select-box-2 .dropdown-options-container-2 {
      width: 100%;
      max-width: 750px;
    }
  
  
    .select-box-1,
    .select-box-2 {
      width: 340px;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .wrap-dropdown-container {
      flex-direction: column;
  
      align-items: center;
    }
  
    /* .dropdown-container-1 {
      align-items: center;
      padding: 0px;
    } */
  
  
  
    .select-box-2 .dropdown-options-container-2 {
      width: 100%;
      max-width: 750px;
    }
  
    .dropdown-container-1 {
      z-index: 3;
    }
  
  
    .select-box-1,
    .select-box-2 {
      width: 320px;
      padding: 0;
    }
  }
  
  
  @media screen and (max-width: 300px) {
    .wrap-dropdown-container {
      flex-direction: column;
  
      align-items: center;
    }
  
    .dropdown-container-1 {
      align-items: center;
      padding: 0px;
    }
  
    /* .dropdown-options-container-2 {
      width: 900px;
    } */
  
  
    .select-box-1,
    .select-box-2 {
      width: 150px;
    }
  }
